@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
/* @import url("./assets/fonts/digital-7-family/digital-7.regular.ttf"); */

:root {
  font-family: "Aldrich", serif;
  /* line-height: 1.5; */
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000033;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style: none;
}
@font-face {
  font-family: "digital";
  src: url("./assets/fonts/digital-7-family/digital-7.regular.ttf");
}
/* @media (min-width: 500px) {
  body{
    display: none;
  }
}
@media (max-width: 360px) {
  body{
    display: none;
  }
} */
